.slider__title {
    position:absolute;
    left: -600px;
    top: 300px;
   
color: black;
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 65px;
    }
    button{
        width: 180px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background-color: rgb(113,127,224);
        color: white;
    }
}